<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="static/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="static/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="static/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="static/natural.js"></script>

    <script type="text/javascript" class="init">
	
$(document).ready(function() {
	$('#directory').DataTable( {
		"paging":   false,
        columnDefs: [
          { type: 'natural', targets: 2 }
        ]
	} );
} );

	</script>
</head>
<body>


<h1>KitDex directory</h1>

{% if not locations_empty %}
<a href='pdf' target=_blank>Get pdf<a><br><br>
<a href='new'>Add new item<a><br><br>
{% else %}
<p>To start, first enter some locations.</p>
{% endif %}
<a href='editlocations'>Edit locations<a><br><br>

<table id="directory" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>What</th>
            <th>Where</th>
            <th>Alt-names</th>
        </tr>
    </thead>
    <tbody>
    {% for row in things %}
        <tr>
            <td><a href=edit/{{row[0]}}>[Edit]</a></td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</body>
