<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

</head>
<body>


<h1><a href="/">KitDex directory</a></h1>

<h2>Rename Location</h2>

<h3>Renameing {{location}}</h3>

<form action="/submit_rename_location/{{location}}">
  <label for="new_location_name">New location name</label><br>
  <input type="text" id="new_location_name" name="new_location_name" value="{{location}}">
  <br>
  <input type="submit" value="Submit">
</form> 


</body>
