<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

</head>
<body>


<h1><a href="/">KitDex directory</a></h1>

<h2>{{subtitle}}</h2>


<form action="{{url}}">
  <label for="name">Item name</label><br>
  <input type="text" id="name" name="name" {% if thingname is not none %}value="{{thingname}}"{% endif %}><br>
  <label for="location">Location</label><br>

  <select id="location" name="location" >
  {% for location in locations %}
    <option value = "{{location}}" {% if thinglocation is not none %}{% if thinglocation == location %}selected{% endif %}{% endif %}>{{location}}</option>
  {% endfor %}
  </select>
  <br>
  <label for="alt_names">Alternative names (; seperated)</label><br>
  <input type="text" id="alt_names" name="alt_names" {% if thingalt is not none %}value="{{thingalt}}"{% endif %}><br>
  <input type="submit" value="Submit">
</form> 


</body>
