<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

</head>
<body>


<h1><a href="/">KitDex directory</a></h1>

<h2>Editing Locations</h2>

<h3>Used locations</h3>
<ul>
{% for location in used_locations %}
<li>{{location}} <a href="/renamelocation/{{location}}">(rename)</a></li>
{% endfor %}
</ul>

<h3>Unused locations</h3>
<form action="/submit_edited_locations">
  <label for="unused_locations">Unused locations (each location on new line)</label><br>
  <textarea rows = "10" cols = "50" name = "unused_locations">{{unused_locations}}</textarea>
  <br>
  <input type="submit" value="Submit">
</form> 


</body>
